
html {
   min-height: 100%;
}
body {
   background-color: aliceblue;
   overflow-x: hidden;
   margin: 0;
}

.averia-text {
   font-family: "Averia Sans Libre", serif;
   font-weight: 600;
   font-style: normal;
 }
 
 .fustat-text {
   font-family: "Fustat", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
 }
 
/*LEFT NAME DISPLAY*/
main #userList {

   padding: 5px;
   background-color: aliceblue;
   
}
#userList figure {
   /* width: 100%;
   margin: 10px 0;

   background-color: lightgrey;
   box-shadow: 4px 5px grey; */
   background: linear-gradient(145deg, #4e9fd9, #72b6e4); /* Blue color gradient */
   color: white;

   padding: 10px;
   border-radius: 25px;
   text-align: center;

   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), inset 2px 2px 5px rgba(255, 255, 255, 0.6);
   transition: all 0.3s ease;

   display: flex;
   align-items: center;
   justify-content: center;
}
#userList img {
   width: 50px;
   display: inline-block;
   border: 10px blue;
   border-radius: 50%;
   margin-left: 10px;
   height: 50px;
}
#userList figcaption {
   display: inline-block;
   font-size: 20px;
}
#userList figure:hover {
   background-color: lightblue;
   cursor: pointer;
   box-shadow: 4px 5px aliceblue;
}
#userList .selected {
   background: linear-gradient(145deg, #ae9fd9, #72b6e4);
}
#userList figure:last-of-type {
   background: grey;
   box-shadow: none;
   border: 2px white;
   border-style: dashed
}
#userList figure:last-of-type:hover {
   background: rgba(150, 150, 150, 1);
}
/*CHAT STUFF*/
#chatDiv {
   flex: 1 0 fit-content;
   padding: 10px;
   background-color: aliceblue;
   position: relative;
}
#chatTitle {
   text-align: center;
   margin: 5px;
   font-size: 30px;
}
#messages {
   display: block;
   overflow-y: scroll;
   overflow-x: hidden;
   height: 80vh;
}
.username {
   font-weight: bold;
   margin-right: 5px;
   color: #007bff; 
}
.messageBox {
   margin-bottom: 15px;
   padding: 12px 18px;
   border-radius: 25px;
   max-width: 70%;
   font-size: 16px;
   line-height: 1.4;
   position: relative;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   background-color: #ffffff;
}
.you {
   border-bottom-right-radius: 5px;
   margin-left: auto;
   margin-right: 10px;
   text-align: right;
   
}
.notYou {
   border-bottom-left-radius: 5px;
   
}

.chat-input {
   display: none;
   border-top: 1px solid #ddd;
   padding: 10px;
   background-color: #f9f9f9;

   width: 100%;
}

.chat-input input {
   flex-grow: 1;
   padding: 10px;
   border-radius: 20px;
   border: 1px solid #ddd;
   margin-right: 10px;
}

.chat-input button {
   background-color: #2a76df;
   color: white;
   border: none;
   cursor: pointer;
}

.chat-input button:hover {
   background-color: #315eb3;
}
#chatTitle {
   color: #007bff;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-decoration: none;
}
#chatTitle a {
   text-decoration: none;
   color: #007bff;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* SCROLLBAR */

#chatDiv ::-webkit-scrollbar {
width: 10px;
}

#chatDiv ::-webkit-scrollbar-track {
background: rgba(240, 248, 255, 1);
}

#chatDiv ::-webkit-scrollbar-thumb {
background: #2a76df;
border-radius: 10px;
}

#chatDiv ::-webkit-scrollbar-thumb:hover {
background: #315eb3;
}
.scrollDiv {
   display: none;
}

/* desktop exclusive styling */
@media (min-width: 800px) {
   main {
      display: flex;
   }
   main #userList {
      
      flex: 0 0 20%;
      width: 80%;
   }
   #userList figure {
      font-size: 18px;
      margin: 10px 0;
   }
   .messageBox {
      font-size: 16px;
   }
   .chat-input button {
      padding: 10px 20px;
      border-radius: 20px;
      font-size: 14px;
   }
   .chat-input input {
      font-size: 14px;
   }
   #backButton {
      display: none;
   }
   #chatTitle {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      top: 20px;
   }

}