/* mobile */
@media (max-width: 800px) {
   /* make left user display dominant */
   main {
      display: block;
   }
   main #userList {
      flex: 0 0 100%;
      padding: 5px;
      color: red;
   }
   .averia-text {
      font-family: "Averia Sans Libre", serif;
      font-weight: 600;
      font-style: normal;
    }
    
    .fustat-text {
      font-family: "Fustat", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
   #userList figure {
     
      background: linear-gradient(145deg, #4e9fd9, #72b6e4); /* Blue color gradient */
      color: white;
      font-size: 30px;
      padding: 10px;
      border-radius: 25px;
      text-align: center;
      width: 90%;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), inset 2px 2px 5px rgba(255, 255, 255, 0.6);
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      margin: 3%;
   }
   #userList img {
      width: 50px;
      display: inline-block;
      height: 50px;
   }
   #userList figcaption {
      display: inline-block;
      font-size: 30px;
   }
   #chatDiv {
      display: none;
   }
   .userName {
      font-size: 40px;
   }
   .messageBox {
      font-size: 30px;
   }
   .chat-input button {
      padding: 20px 30px;
      border-radius: 20px;
      font-size: 24px;
   }
   .chat-input input {
      font-size: 24px;
   }
   #backButton {
      display: block;
      position: absolute;
      top: 50px;
      left: 20px;
      color:#2a76df;
      font-size: 70px;
      background-color: white;
      border-radius: 60px;
      z-index: 10;
   }
}