:root {
  --palatinate: #463ACC;
  --royal-blue:  #5275DC;
  --gunmetal: #243840;
  --non-photo: #90E0EF;
  --light-cyan: #C0F0F8;
  --nav-height: 50px;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Fustat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

a, button {
  font-family: "Averia Sans Libre", serif;
  font-weight: 600;
}

.container {
  position: relative;
  height: 100vh;
  background: var(--non-photo);
}

.placeholderImage {
  position: absolute;
}

.placeholderImage img{
  width: 500px;
  height: 500px;
}

.floatingText {
  position: absolute;
  color: var(--gunmetal);
  font-size: 1.5rem;
  white-space: nowrap;
}

.text1 {
  top: 15%;
  transform: rotate(-5deg);
  margin-left: 20em;
}

.text2 {
  top: 25%;
  right: 20%;
  transform: rotate(2deg);
}

.text3 {
  top: 35%;
  right: 25%;
  transform: rotate(-3deg);
}

.landing-heading {
  background: var(--non-photo);
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameContainer {
  display: flex;
  flex-direction: column;
}

.webName {
  color: var(--gunmetal);
  font-family: "Averia Sans Libre", serif;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
}

.nameBtmTxt {
  color: var(--gunmetal);
  font-family: "Averia Sans Libre", serif;
  font-size: 10px;
  text-indent: 66px;
  position: relative;
  top: -10px;
}

.signupButton {
  position: absolute;
  bottom: 25%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  background: var(--palatinate);
  color: white;
  padding: 15px 60px;
  border: none;
  border-radius: 25px;
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 12%;
}

.signupButton:hover {
  background-color: rgb(60, 48, 194);
}

.loginButton {
  background-color: white;
  color: var(--gunmetal);
  padding: 0.5em 2em;
  border-radius: 25px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-decoration: none;
}

.loginButton:hover {
  background-color: rgb(239, 253, 255);
}

.waveClass {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  fill:  var(--royal-blue);
}

